<template>
    <div :class="{'hidden': !visible, 'visible': visible}">
        <div class="overlay"></div>
        <div class="popup">
            <slot></slot>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Popup",
        data() {
            return {
                visible: false,
            }
        },
        methods: {
            /**
             * Toggles the popup from visible and hidden.
             *
             * @param {boolean} isVisible - If true it will show the popup, else it will hide it.
             */
            toggle(isVisible) {
                this.visible = isVisible;
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import "../../assets/css/main";

    .overlay {
        background: rgba(0, 0, 0, 0.75);
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        transition: opacity .2s linear;
        width: 100%;
        z-index: 9999;
    }

    .popup {
        background: $dark-white;
        border-radius: 20px;
        bottom: 0;
        height: fit-content;
        left: 0;
        margin: auto;
        max-height: 900px;
        max-width: calc(100% - 100px);
        min-height: 200px;
        min-width: 300px;
        position: absolute;
        right: 0;
        top: 0;
        transition: transform .2s linear;
        width: fit-content;
        z-index: 10000;
    }

    .visible {
        .overlay {
            opacity: 1;
        }

        .popup {
            transform: scale(1);
        }
    }

    .hidden {
        .overlay {
            opacity: 0;
            z-index: -10;
        }

        .popup {
            transform: scale(0);
        }
    }
</style>
