@import "../../assets/css/main";

input:not([type="submit"]):not([type="button"]) {
    @include no-focus;

    border: none;
    border-radius: 25px;
    font-size: 20px;
    height: 50px;
    min-width: 150px;
    padding-left: 20px;

    &::-webkit-calendar-picker-indicator {
        color: $text-dark;
        margin-right: 10px;

        &:hover {
            color: black;
        }
    }
}

form {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 600px;
    padding: 10px;
    width: 900px;

    .form-row {
        display: flex;
        height: 100px;
        margin-bottom: 15px;

        .form-column {
            display: flex;
            flex-direction: column;
            height: fit-content;
            padding: 0 10px 0 10px;
            width: 100%;

            & > label {
                color: $text-dark;
                font-size: 25px;
                font-weight: bold;
                padding-left: 5px;
                margin-bottom: 10px;

            }

            &.small {
                width: 50%;
            }

            &.small-fixed {
                width: 33%;
            }
        }
    }

    .add-btn {
        @include no-focus;

        background: $green;
        border: none;
        border-radius: 25px;
        color: $white;
        cursor: pointer;
        font-size: 20px;
        font-weight: bold;
        height: 50px;
        width: 100px;

        &:hover {
            background: $green-hover;
        }
    }

    .learning-outcomes {
        overflow: auto;
        max-height: 190px;

        .learning-outcome {
            margin-top: 10px;
            position: relative;
            width: 500px;

            & > input {
                width: 100%;

                &:hover, &:focus {
                    & + i {
                        visibility: visible;
                    }
                }
            }

            & > i {
                color: $text-dark;
                cursor: pointer;
                font-size: 20px;
                position: absolute;
                right: 0;
                top: calc(50% - 12px);
                visibility: hidden;

                &:hover {
                    color: $red;
                    visibility: visible;
                }
            }
        }
    }

    .form-options {
        bottom: 0;
        display: flex;
        height: 75px;
        left: 0;
        position: absolute;
        width: 100%;

        input {
            @include no-focus;

            border: none;
            color: $white;
            cursor: pointer;
            height: 100%;
            font-size: 25px;
            font-weight: bold;
            width: 50%;

            &:first-of-type {
                border-bottom-left-radius: 20px;
            }

            &:last-child {
                border-bottom-right-radius: 20px;
            }

            &[type="submit"] {
                background: $green;

                &:hover {
                    background: $green-hover;
                }
            }

            &[type="button"] {
                background: $red;

                &:hover {
                    background: $red-hover;
                }
            }
        }
    }
}
