@import "mixins";

::-webkit-scrollbar {
    border-radius: 10px;
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-corner {
    background: $white;
}

::-webkit-scrollbar-thumb {
    background: #888888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: $purple;
}

.button {
    @include center;
    @include no-focus;

    border: none;
    border-radius: 75px;
    color: $white;
    cursor: pointer;
    display: block;
    font-size: 20px;
    font-weight: bold;
    height: 75px;
    line-height: 75px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    width: 85%;

    &:hover {
        transform: scale(1.05);
    }

    &, &.green {
        background: $green;

        &:hover {
            background: $green-hover;
        }
    }

    &.purple {
        background: $purple;

        &:hover {
            background: $purple-hover;
        }
    }
}

.list-item {
    @include center;

    background: $white;
    border: 2px solid transparent;
    border-radius: 38px;
    box-sizing: border-box;
    color: $text-dark;
    font-size: 25px;
    height: 75px;
    line-height: 75px;
    margin-top: 20px;
    overflow: hidden;
    padding: 0 30px 0 30px;
    transition: height .5s linear;
    width: 85%;

    &:hover, &.active {
        border: 2px solid $purple;

         .main-details > span, .main-details > i:last-child {
             color: $purple;
         }
    }

    .main-details {
        display: flex;
        height: 75px;
        justify-content: space-between;
        width: 100%;

        & > span {
            box-sizing: border-box;
            font-size: 20px;
            //font-weight: bold;
            min-width: 70%;
            overflow: hidden;
            padding: 0 15px 0 15px;
            text-align: center;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        & > *:first-child {
            cursor: pointer;

            &:hover {
                color: $purple;
            }
        }
    }

    &.active > div > span {
        font-weight: bold;
    }

    &.with-details {
        height: fit-content;
    }

    .extra-details {
        font-size: 16px;
        margin-top: -15px;
        margin-bottom: 10px;

        & > div {
            min-height: 30px;
            line-height: 30px;
        }

        .learning-outcomes {
            & > ul {
                font-size: 16px;
                line-height: 25px;
                margin: 0;
            }
        }
    }
}
