$purple: #671E75;
$link-blue: #007FAA;
$green: #16D36B;
$red: #D9534F;
$dark-white: #E4E4E4;
$white: #FFF;

$text-light: #8D8D8D;
$text-dark: #707070;

$shadow-color: rgba(0, 0, 0, .16);

$purple-hover: #52185D;
$green-hover: #13BD60;
$yellow-hover: #CEBD00;
$red-hover: #C34A47;
$white-hover: #F2F2F2;
