<template>
    <div id="app">
        <div id="top-bar">
            Edge Hill University
        </div>

        <div id="container">
            <div class="column" id="degrees">
                <div class="title">Degrees</div>
                <div class="body">
                    <Degree
                        v-for="degree in data.degrees"
                        :id="degree.code"
                        :key="degree.code"
                        :degree="degree"
                        :active="currentDegreeCode === degree.code"
                        @click.native="currentDegreeCode = degree.code; currentModuleCode = null"
                    />
                    <button class="button green" @click="$refs.createDegreePopup.toggle(true)">Create Degree</button>
                </div>
            </div>

            <Separator :is-left="true" :panels="['degrees', 'modules']" />

            <div class="column" id="modules">
                <div class="title">Modules</div>
                <div class="body">
                    <Module
                        v-for="module in data.modules.filter(m => m.degree_code === currentDegreeCode)"
                        :key="module.code"
                        :module="module"
                        :active="currentModuleCode === module.code"
                        @click.native="currentModuleCode = module.code"
                    />
                    <button v-if="currentDegreeCode !== null" class="button green" @click="$refs.addModulePopup.toggle(true)">Add Module</button>
                </div>
            </div>

            <Separator :is-left="false" :panels="['assessments', 'modules']" />

            <div class="column" id="assessments">
                <div class="title">Assessments</div>
                <div class="body">
                    <Assessment
                        v-for="assessment in data.assessments.filter(a => a.module_code === currentModuleCode)"
                        :key="assessment.module_code + '_' + assessment.number"
                        :assessment="assessment"
                    />
                    <button v-if="currentModuleCode !== null" class="button green" @click="$refs.addAssessmentPopup.toggle(true)">Add Assessment</button>
                </div>
            </div>
        </div>

        <Popup ref="createDegreePopup">
            <CreateDegreeForm
                :academics="data.academics"
                @created="$refs.createDegreePopup.toggle(false); getData()"
                @cancel="$refs.createDegreePopup.toggle(false)"
            />
        </Popup>

        <Popup ref="addModulePopup">
            <AddModuleForm
                :academics="data.academics"
                :degree-code="currentDegreeCode"
                @created="$refs.addModulePopup.toggle(false); getData()"
                @cancel="$refs.addModulePopup.toggle(false)"
            />
        </Popup>

        <Popup ref="addAssessmentPopup">
            <AddAssessmentForm
                :module-code="currentModuleCode"
                :degree="getDegreeFromCode(currentDegreeCode)"
                :module="getModuleFromCode(currentModuleCode)"
                @created="$refs.addAssessmentPopup.toggle(false); getData()"
                @cancel="$refs.addAssessmentPopup.toggle(false)"
            />
        </Popup>
    </div>
</template>

<script>
    import axios from "axios"
    import Degree from "@/components/Degree";
    import Module from "@/components/Module";
    import Separator from "@/components/Separator";
    import Assessment from "@/components/Assessment";
    import Popup from "@/components/containers/Popup";
    import CreateDegreeForm from "@/components/forms/CreateDegreeForm";
    import AddModuleForm from "@/components/forms/AddModuleForm";
    import AddAssessmentForm from "@/components/forms/AddAssessmentForm";
    import ContextMenu from "@/components/containers/ContextMenu";

    export default {
        name: "App",
        components: {
            AddAssessmentForm,
            AddModuleForm,
            CreateDegreeForm,
            ContextMenu,
            Assessment,
            Degree,
            Module,
            Popup,
            Separator,
        },
        data() {
            return {
                data: {
                    "degrees": [
                        {
                            "code": "WBD",
                            "name": "Web Design & Development",
                            "learning_outcomes": [
                                "To understand programming",
                                "To gain knowledge of operating systems"
                            ],
                            "academic": "Toby Essex"
                        },
                        {
                            "code": "PRE",
                            "name": "Primary Education",
                            "learning_outcomes": [
                                "To develop an understanding for teaching in key state 1 & 2",
                                "To gain QTS knowledge"
                            ],
                            "academic": "Micheal Bird"
                        },
                        {
                            "code": "CN",
                            "name": "Child Nursing",
                            "learning_outcomes": [
                                "Learning Outcome 1",
                                "Learning Outcome 2"
                            ],
                            "academic": "Joshua Essex"
                        },
                        {
                            "code": "AD",
                            "name": "Adult Nursing",
                            "learning_outcomes": [
                                "Learning Outcome 1",
                                "Learning Outcome 2"
                            ],
                            "academic": "Kate Pyatt"
                        }
                    ],
                    "modules": [
                        {
                            "code": "CIS1000",
                            "name": "Server & Client Side Scripting",
                            "hours": 60,
                            "learning_outcomes": [
                                "To gain knowledge of PHP & JavaScript",
                                "To learn frameworks like Angular and Laravel"
                            ],
                            "credits": 20,
                            "degree_code": "WBD",
                            "academic": "Toby Essex"
                        },
                        {
                            "code": "CIS1001",
                            "name": "Web Application Development",
                            "hours": 60,
                            "learning_outcomes": [
                                "To gain knowledge of continuous integration",
                                "To learn frameworks like Jenkins and Docker"
                            ],
                            "credits": 20,
                            "degree_code": "WBD",
                            "academic": "Joshua Essex"
                        },
                        {
                            "code": "PRE1000",
                            "name": "Personal Portfolio Development",
                            "hours": 60,
                            "learning_outcomes": [
                                "To gain knowledge of how to develop a professional portfolio"
                            ],
                            "credits": 20,
                            "degree_code": "PRE",
                            "academic": "Katie Hughes"
                        },
                        {
                            "code": "DA",
                            "name": "Data Anaylsis",
                            "learning_outcomes": [
                                "Learning Python"
                            ],
                            "academic": "Rachel Britton",
                            "hours": "60",
                            "credits": "20",
                            "degree_code": "WBD"
                        }
                    ],
                    "assessments": [
                        {
                            "number": "CW1",
                            "title": "Coursework 1",
                            "covered_learning_outcomes": [
                                "To gain knowledge of PHP & JavaScript"
                            ],
                            "volume": 50,
                            "weight": 20,
                            "submission_date": "29/01/19",
                            "module_code": "CIS1000"
                        },
                        {
                            "number": "CW2",
                            "title": "Coursework 2",
                            "covered_learning_outcomes": [
                                "To learn frameworks like Angular and Laravel"
                            ],
                            "volume": 50,
                            "weight": 80,
                            "submission_date": "08/05/19",
                            "module_code": "CIS1000"
                        },
                        {
                            "number": "CW1",
                            "title": "Coursework 1",
                            "covered_learning_outcomes": [
                                "Learning C++"
                            ],
                            "volume": "50",
                            "weight": "20",
                            "module_code": "CIS1001"
                        },
                        {
                            "number": "V",
                            "title": "Viva",
                            "covered_learning_outcomes": [
                                "To gain QTS knowledge",
                                "To gain knowledge of how to develop a professional portfolio",
                                "To develop an understanding for teaching in key state 1 & 2"
                            ],
                            "volume": "100",
                            "weight": "100",
                            "module_code": "PRE1000"
                        }
                    ],
                    "academics": [
                        "Toby Essex",
                        "Joshua Essex",
                        "Nathan Newham",
                        "Nathan Pope",
                        "Micheal Bird",
                        "Kate Pyatt",
                        "Rachel Britton",
                        "Katie Hughes"
                    ]
                }
                ,
                currentDegreeCode: null,
                currentModuleCode: null,
            };
        },
        mounted() {
            this.getData();
        },
        methods: {
            getData() {
                // axios
                //     .get("https://web-app-cw2-toby-essex.netlify.com/.netlify/functions/get-data")
                //     //.then(response => response.json())
                //     .then(response => {this.data = response.data})
                //     .catch(error => console.log(error));

                if (localStorage.getItem("data") === null) {
                    localStorage.setItem("data", JSON.stringify(this.data));
                }

                this.data = JSON.parse(localStorage.getItem("data"));
            },

            /**
             * Gets a degree from the given degree code.
             *
             * @param {string} degreeCode - Degree Code.
             * @returns {Object|null} - Returns the wanted degree or null.
             */
            getDegreeFromCode(degreeCode) {
                for (let degree of this.data.degrees) {
                    if (degree.code === degreeCode)
                        return degree;
                }
                return null;
            },

            /**
             * Gets a module from the given module code.
             *
             * @param {string} moduleCode - Module Code.
             * @returns {Object|null} - Returns the wanted module or null.
             */
            getModuleFromCode(moduleCode) {
                for (let module of this.data.modules) {
                    if (module.code === moduleCode)
                        return module;
                }
                return null;
            }
        }
    };
</script>

<style lang="scss">
    @import url("https://fonts.googleapis.com/css?family=Quicksand");
    @import "../assets/css/main";

    * {
        font-family: "Quicksand", sans-serif;
        user-select: none;
    }

    html, body, #app {
        height: 100%;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    #top-bar {
        background: $purple;
        box-sizing: border-box;
        border-bottom: 1px solid #854A90;
        color: white;
        height: 70px;
        font-size: 25px;
        font-weight: bold;
        line-height: 70px;
        padding-left: 15px;
        width: 100%;
    }

    #container {
        display: flex;
        height: calc(100% - 70px);
        width: 100%;

        .column {
            height: 100%;
            width: 33%;

            .title {
                background: $purple;
                border-radius: 0 0 20px 20px;
                color: $white;
                height: 70px;
                font-size: 25px;
                font-weight: bold;
                line-height: 70px;
                text-align: center;
                width: 100%;
            }

            .body {
                background: $dark-white;
                border-radius: 20px 20px 0 0;
                height: calc(100% - 70px);
                overflow: auto;
                width: 100%;
            }
        }
    }
</style>
