<template>
    <div class="list-item" :class="{'active': active, 'with-details': showDetails}">
        <div class="main-details">
            <i class="fas fa-info-circle" @click.stop="showDetails = !showDetails"></i>
            <span>{{ assessment.title }}</span>
            <i class="fas fa-chevron-right" style="color: white;"></i>
        </div>
        <div v-if="showDetails" class="extra-details">
            <div>
                <strong>Assessment Number:</strong> {{ assessment.number }}
            </div>
            <div>
                <strong>Assessment Volume:</strong> {{ assessment.volume }}
            </div>
            <div>
                <strong>Assessment Weight:</strong> {{ assessment.weight }}%
            </div>
            <div>
                <strong>Submission Date:</strong> {{ assessment.submission_date }}
            </div>
            <div class="learning-outcomes">
                <strong>Covered Learning Outcomes:</strong>
                <ul>
                    <li v-for="outcome in assessment.covered_learning_outcomes">{{ outcome }}</li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Assessment",
        props: {
            assessment: {
                type: Object,
                required: true,
            },
        },
        data() {
            return {
                showDetails: false,
            };
        }
    };
</script>

<style lang="scss" scoped>
    @import "../assets/css/main";
</style>
