<template>
    <div class="list-item" :class="{'active': active, 'with-details': showDetails}">
        <div class="main-details">
            <i class="fas fa-info-circle" @click.stop="showDetails = !showDetails"></i>
            <span>{{ degree.name }}</span>
            <i class="fas fa-chevron-right"></i>
        </div>
        <div v-if="showDetails" class="extra-details">
            <div>
                <strong>Degree Code:</strong> {{ degree.code }}
            </div>
            <div>
                <strong>Degree Leader:</strong> {{ degree.academic }}
            </div>
            <div class="learning-outcomes">
                <strong>Learning Outcomes:</strong>
                <ul>
                    <li v-for="outcome in degree.learning_outcomes">{{ outcome }}</li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Degree",
        props: {
            degree: {
                type: Object,
                required: true,
            },
            active: {
                type: Boolean,
                required: true,
            }
        },
        data() {
            return {
                showDetails: false,
            }
        }
    };
</script>

<style lang="scss" scoped>
    @import "../assets/css/main";
</style>
