<template>
    <div class="list-item" :class="{'active': active, 'with-details': showDetails}">
        <div class="main-details">
            <i class="fas fa-info-circle" @click.stop="showDetails = !showDetails"></i>
            <span>{{ module.name }}</span>
            <i class="fas fa-chevron-right"></i>
        </div>
        <div v-if="showDetails" class="extra-details">
            <div>
                <strong>Module Code:</strong> {{ module.code }}
            </div>
            <div>
                <strong>Module Leader:</strong> {{ module.academic }}
            </div>
            <div>
                <strong>Module Hours:</strong> {{ module.hours }}
            </div>
            <div>
                <strong>Module Credits:</strong> {{ module.credits }}
            </div>
            <div class="learning-outcomes">
                <strong>Learning Outcomes:</strong>
                <ul>
                    <li v-for="outcome in module.learning_outcomes">{{ outcome }}</li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Module",
        props: {
            module: {
                type: Object,
                required: true,
            },
            active: {
                type: Boolean,
                required: true,
            }
        },
        data() {
            return {
                showDetails: false,
            }
        }
    };
</script>

<style lang="scss" scoped>
    @import "../assets/css/main";
</style>
