<template>
    <div class="grabber-bar">
        <div class="grabber-button" @mousedown="onMouseDown(true)">
            <i class="fas fa-chevron-left"></i>
            <i class="fas fa-chevron-right"></i>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Separator",
        props: {
            isLeft: {
                type: Boolean,
                required: true,
            },
            panels: {
                type: Array,
                required: true,
            },
            panelMinSize: {
                type: Number,
                required: false,
                default: 200,
            }
        },
        data() {
            return {
                mouseDown: false,
            }
        },
        methods: {
            onMouseDown(isDown) {
                this.mouseDown = isDown;

                // Listen for mouse up anywhere in the document
                document.addEventListener("mouseup", () => this.onMouseDown(false));
                document.addEventListener("mousemove", this.onDrag);

            },

            onDrag(event) {
                if (!this.mouseDown) return;

                let leftPanelNewWidth;
                let rightPanelNewWidth;

                if (this.isLeft) {
                    leftPanelNewWidth = event.clientX;
                    rightPanelNewWidth = document.getElementById(this.panels[1]).clientWidth + (document.getElementById(this.panels[0]).clientWidth - event.clientX);
                } else {
                    leftPanelNewWidth = window.innerWidth - event.clientX;
                    rightPanelNewWidth = document.getElementById(this.panels[1]).clientWidth + (document.getElementById(this.panels[0]).clientWidth - (window.innerWidth - event.clientX));
                }

                if (leftPanelNewWidth < this.panelMinSize || rightPanelNewWidth < this.panelMinSize) return;

                document.getElementById(this.panels[0]).style.width = leftPanelNewWidth + "px";
                document.getElementById(this.panels[1]).style.width = rightPanelNewWidth + "px";
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import "../assets/css/main";

    .grabber-bar {
        background: $white;
        height: 100%;
        width: 5px;
        //margin-top: 70px;

        .grabber-button {
            background: $purple;
            border-radius: 25px;
            color: $white;
            cursor: col-resize;
            height: 50px;
            font-size: 25px;
            line-height: 50px;
            margin-left: -22px;
            position: absolute;
            text-align: center;
            top: calc(50% + 25px);
            width: 50px;

            &:hover {
                background: $purple-hover;
            }
        }
    }
</style>
