<template>
    <form slot="content" @submit.prevent="submit">
        <div class="form-row">
            <div class="form-column small">
                <label for="number">Assessment Number:</label>
                <input v-model="assessment.number" id="number" type="text" placeholder="Assessment Number">
            </div>

            <div class="form-column">
                <label for="title">Assessment Title:</label>
                <input v-model="assessment.title" id="title" type="text" placeholder="Assessment Name">
            </div>
        </div>

        <div class="form-row">
            <div class="form-column small-fixed">
                <label for="volume">Volume:</label>
                <input v-model="assessment.volume" id="volume" type="text" placeholder="Volume">
            </div>
            <div class="form-column small-fixed">
                <label for="weight">Weight:</label>
                <input v-model="assessment.weight" id="weight" type="text" placeholder="Weight">
            </div>
        </div>

        <div class="form-row">
            <div class="form-column">
                <label>Covered Learning Outcomes:</label>
                <button class="add-btn" type="button" value="Add" @click="addLearningOutcome()">
                    <i class="fas fa-plus"></i>
                    <span>Add</span>
                </button>

                <div class="learning-outcomes">
                    <div v-for="(_, i) in assessment.covered_learning_outcomes" class="learning-outcome">
                        <input v-model="assessment.covered_learning_outcomes[i]" type="text" :placeholder="'Covered Learning Outcome ' + (i + 1)" list="learningOutcomes">
                        <i class="fas fa-times" @click="removeLearningOutcome(i)"></i>
                    </div>

                    <datalist id="learningOutcomes">
                        <option v-for="degree_outcome in degree.learning_outcomes" :value="degree_outcome" />
                        <option v-for="module_outcome in module.learning_outcomes" :value="module_outcome" />
                    </datalist>
                </div>
            </div>
        </div>

        <div class="form-options">
            <input type="submit" value="Add">
            <input type="button" value="Cancel" @click="clearForm(); $emit('cancel')">
        </div>
    </form>
</template>

<script>
    import axios from "axios";

    export default {
        name: "AddAssessmentForm",
        props: {
            moduleCode: {
                type: String,
                required: true,
            },
            degree: {
                type: Array,
                required: true,
            },
            module: {
                type: String,
                required: true,
            },
        },
        data() {
            return {
                assessment: {
                    number: "",
                    title: "",
                    covered_learning_outcomes: [],
                    volume: "",
                    weight: "",
                }
            };
        },
        methods: {
            /**
             * Adds a learning outcome to the form.
             */
            addLearningOutcome() {
                this.assessment.covered_learning_outcomes.push("");
            },

            /**
             * Removes a learning outcome from the form.
             *
             * @param {number} index - Index of outcome to remove
             */
            removeLearningOutcome(index) {
                this.assessment.covered_learning_outcomes.splice(index, 1);
            },

            /**
             * @returns {boolean} - Returns true if the form is invalid
             */
            isInvalid(){
                return (
                    this.assessment.number === "" ||
                    this.assessment.title === "" ||
                    this.assessment.volume === "" ||
                    this.assessment.weight === ""
                );
            },

            /**
             * Submit the form & send the data to the server.
             */
            submit() {
                if (this.isInvalid())
                    return;

                this.assessment.module_code = this.moduleCode;

                // axios
                //     .post("https://web-app-cw2-toby-essex.netlify.com/.netlify/functions/add-assessment", this.assessment)
                //     .then(response => {
                //         this.clearForm();
                //         this.$emit("created");
                //     })
                //     .catch(error => console.log(error));

                let data = JSON.parse(localStorage.getItem("data"));

                data.assessments.push(JSON.parse(JSON.stringify(this.assessment)));

                localStorage.setItem("data", JSON.stringify(data));

                this.clearForm();
                this.$emit("created");
            },

            /**
             * Cancel, close the form.
             */
            clearForm() {
                this.assessment.number = "";
                this.assessment.title = "";
                this.assessment.covered_learning_outcomes = [];
                this.assessment.volume = "";
                this.assessment.weight = "";
            },
        }
    };
</script>

<style lang="scss" scoped>
    @import "../../assets/css/forms";
</style>
