<template>
    <form slot="content" @submit.prevent="submit">
        <div class="form-row">
            <div class="form-column small">
                <label for="code">Module Code:</label>
                <input v-model="module.code" id="code" type="text" placeholder="Module Code">
            </div>

            <div class="form-column">
                <label for="name">Module Name:</label>
                <input v-model="module.name" id="name" type="text" placeholder="Module Name">
            </div>
        </div>

        <div class="form-row">
            <div class="form-column">
                <label for="leader">Module Leader:</label>
                <input v-model="module.academic" id="leader" type="text" placeholder="Module Leader" list="academics">

                <datalist id="academics">
                    <option v-for="academic in academics" :value="academic" />
                </datalist>
            </div>

            <div class="form-column">
                <label for="hours">Hours:</label>
                <input v-model="module.hours" id="hours" type="text" placeholder="Hours">
            </div>

            <div class="form-column">
                <label for="credits">Credits:</label>
                <input v-model="module.credits" id="credits" type="text" placeholder="Credits">
            </div>
        </div>

        <div class="form-row">
            <div class="form-column">
                <label>Learning Outcomes:</label>
                <button class="add-btn" type="button" value="Add" @click="addLearningOutcome()">
                    <i class="fas fa-plus"></i>
                    <span>Add</span>
                </button>

                <div class="learning-outcomes">
                    <div v-for="(_, i) in module.learning_outcomes" class="learning-outcome">
                        <input v-model="module.learning_outcomes[i]" type="text" :placeholder="'Learning Outcome ' + (i + 1)">
                        <i class="fas fa-times" @click="removeLearningOutcome(i)"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-options">
            <input type="submit" value="Add">
            <input type="button" value="Cancel" @click="clearForm(); $emit('cancel')">
        </div>
    </form>
</template>

<script>
    import axios from "axios";

    export default {
        name: "AddModuleForm",
        props: {
            academics: {
                type: Array,
                required: true,
            },
            degreeCode: {
                type: String,
                required: true,
            },
        },
        data() {
            return {
                module: {
                    code: "",
                    name: "",
                    learning_outcomes: [],
                    academic: "",
                    hours: "",
                    credits: "",
                }
            };
        },
        methods: {
            /**
             * Adds a learning outcome to the form.
             */
            addLearningOutcome() {
                this.module.learning_outcomes.push("");
            },

            /**
             * Removes a learning outcome from the form.
             *
             * @param {number} index - Index of outcome to remove
             */
            removeLearningOutcome(index) {
                this.module.learning_outcomes.splice(index, 1);
            },

            /**
             * @returns {boolean} - Returns true if the form is invalid
             */
            isInvalid(){
                return (
                    this.module.code === "" ||
                    this.module.name === "" ||
                    this.module.academic === "" ||
                    this.module.hours === "" ||
                    this.module.credits === ""
                );
            },

            /**
             * Submit the form & send the data to the server.
             */
            submit() {
                if (this.isInvalid())
                    return;


                this.module.degree_code = this.degreeCode;

                // axios
                //     .post("https://web-app-cw2-toby-essex.netlify.com/.netlify/functions/add-module", this.module)
                //     .then(response => {
                //         this.clearForm();
                //         this.$emit("created");
                //     })
                //     .catch(error => console.log(error));

                let data = JSON.parse(localStorage.getItem("data"));

                data.modules.push(JSON.parse(JSON.stringify(this.module)));

                localStorage.setItem("data", JSON.stringify(data));

                this.clearForm();
                this.$emit("created");
            },

            /**
             * Cancel, close the form.
             */
            clearForm() {
                this.module.code = "";
                this.module.name = "";
                this.module.learning_outcomes = [];
                this.module.academic ="";
                this.module.hours = "";
                this.module.credits = "";
            },
        }
    };
</script>

<style lang="scss" scoped>
    @import "../../assets/css/forms";
</style>
