<template>
    <form slot="content" @submit.prevent="submit">
        <div class="form-row">
            <div class="form-column small">
                <label for="code">Degree Code:</label>
                <input v-model="degree.code" id="code" type="text" placeholder="Degree Code">
            </div>

            <div class="form-column">
                <label for="name">Degree Name:</label>
                <input v-model="degree.name" id="name" type="text" placeholder="Degree Name">
            </div>
        </div>

        <div class="form-row">
            <div class="form-column small-fixed">
                <label for="leader">Degree Leader:</label>
                <input v-model="degree.academic" id="leader" type="text" placeholder="Degree Leader" list="academics">

                <datalist id="academics">
                    <option v-for="academic in academics" :value="academic" />
                </datalist>
            </div>
        </div>

        <div class="form-row">
            <div class="form-column">
                <label>Learning Outcomes:</label>
                <button class="add-btn" type="button" value="Add" @click="addLearningOutcome()">
                    <i class="fas fa-plus"></i>
                    <span>Add</span>
                </button>

                <div class="learning-outcomes">
                    <div v-for="(_, i) in degree.learning_outcomes" class="learning-outcome">
                        <input v-model="degree.learning_outcomes[i]" type="text" :placeholder="'Learning Outcome ' + (i + 1)">
                        <i class="fas fa-times" @click="removeLearningOutcome(i)"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-options">
            <input type="submit" value="Create">
            <input type="button" value="Cancel" @click="clearForm(); $emit('cancel')">
        </div>
    </form>
</template>

<script>
    import axios from "axios";

    export default {
        name: "CreateDegreeForm",
        props: {
            academics: {
                type: Array,
                required: true,
            },
        },
        data() {
            return {
                degree: {
                    code: "",
                    name: "",
                    learning_outcomes: [],
                    academic: "",
                }
            };
        },
        methods: {
            /**
             * Adds a learning outcome to the form.
             */
            addLearningOutcome() {
                this.degree.learning_outcomes.push("");
            },

            /**
             * Removes a learning outcome from the form.
             *
             * @param {number} index - Index of outcome to remove
             */
            removeLearningOutcome(index) {
                this.degree.learning_outcomes.splice(index, 1);
            },

            /**
             * @returns {boolean} - Returns true if the form is invalid
             */
            isInvalid(){
                return (
                    this.degree.code === "" ||
                    this.degree.name === "" ||
                    this.degree.academic === ""
                );
            },

            /**
             * Submit the form & send the data to the server.
             */
            submit() {
                if (this.isInvalid())
                    return;

                // axios
                //     .post("https://web-app-cw2-toby-essex.netlify.com/.netlify/functions/add-degree", this.degree)
                //     .then(response => {
                //         this.clearForm();
                //         this.$emit("created");
                //     })
                //     .catch(error => console.log(error));

                let data = JSON.parse(localStorage.getItem("data"));

                console.log(JSON.parse(JSON.stringify(this.degree)));

                data.degrees.push(JSON.parse(JSON.stringify(this.degree)));

                localStorage.setItem("data", JSON.stringify(data));

                this.clearForm();
                this.$emit("created");
            },

            /**
             * Cancel, close the form.
             */
            clearForm() {
                this.degree.code = "";
                this.degree.name = "";
                this.degree.learning_outcomes = [];
                this.degree.academic = "";
            },
        }
    };
</script>

<style lang="scss" scoped>
    @import "../../assets/css/forms";
</style>
